.introduction {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .introCard {
        background-color: #f3f3f3;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        position: absolute;
        margin: auto;
        margin-bottom: 5vh;
        height: 80%;
        width: 60%;
        min-width: 500px;
        max-width: 1000px;
        padding: 20px;
        font-size: 20px;
        left: 0;
        right: 0;

        .title {
            font-family: Helvetic, sans-serif;
            color: #114B5F;
            font-size: 40px;
        }

        .contentWrapper {
            height: 100%;
            // display: flex;
            // align-items: center;
        }

        .dataConfiguration {
            cursor: pointer;
            color: #114B5F;
            font-size: 12px;
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

        // Pages
        .page1 {

            .contentContainer {
                height: 100%;
                flex-direction: column;
                text-align: center;
            }

            .robotGif {
                height: 15vh;
                margin: auto;
            }
            
            .text {
                font-size: 1.8vh;
                text-align: left;
                clear: both;
                margin: auto;
                margin-top: 20px;
                width: 80%;
                vertical-align: top;
                p:nth-of-type(1) {
                    margin-top: 0;
                }
            }

            .nullHypothesisImg {
                height: 20vh;
                margin: auto;
            }

            .hypothesisBlock {
                text-align: left;
                clear: both;
                width: 80%;
                padding-top: 1vh;
                padding-left: 10%;
                margin-bottom: 5vh;
                .hypothesisTitle {
                    font-size: 2vh;
                    color: #114B5F;
                    font-family: Helvetic, sans-serif;
                    margin-bottom: 2px;
                    animation: blinker 3s linear infinite;
                }
                @keyframes blinker {
                    50% {
                        border-color: #fff;
                    }
                }
                .hypothesisText {
                    font-size: 1.8vh;
                }
            }
            .hypothesisBlock:last-child { margin: 0; }

        }

        .buttonRow {
            // margin-top: 30px;
            // float: right;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }

        .buttonRowButton {
            margin-left: 20px;
        }

    }

    @media only screen and (max-height: 900px) {
        .introCard {
            font-size: 14px;
            .title {
                font-size: 20px;
            }
        }
    }

    @media only screen and (max-height: 700px) {
        .introCard {
            font-size: 10px;
        }
    }

    .introCardTall {
        max-height: 85%;
    }

    .progressBar {
        position: absolute;
        bottom: 20px;
    }

}

// Slide right animations
.slideRight-enter {
    opacity: 0;
    transform: translateX(150px);
    z-index: 1;
}
.slideRight-enter.slideRight-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 250ms linear 250ms, transform 250ms linear 250ms;
}
.slideRight-exit {
    opacity: 1;
    transform: translateX(0);
}
.slideRight-exit.slideRight-exit-active {
    opacity: 0;
    transform:  translateX(-150px);
    transition: opacity 250ms linear, transform 250ms linear;
}
.slideRight-exit-done {
    opacity: 0;
}

// Slide left animations
.slideLeft-enter {
    opacity: 0;
    transform: translateX(-150px);
    z-index: 1;
}
.slideLeft-enter.slideLeft-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 250ms linear 250ms, transform 250ms linear 250ms;
}
.slideLeft-exit {
    opacity: 1;
    transform: translateX(0);
}
.slideLeft-exit.slideLeft-exit-active {
    opacity: 0;
    transform:  translateX(150px);
    transition: opacity 250ms linear, transform 250ms linear;
}
.slideLeft-exit-done {
    opacity: 0;
}

.dataConfigPopup {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 15px;

    .configOption {
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        padding: 20px;
        border-radius: 5px;
        width: calc(50% - 10px);
        margin-bottom: 20px;
        border: solid 2px gray;
    }

    .configOption:nth-child(odd) {
        margin-right: 20px;
    }

    .configOption:hover {
        background-color: #114B5F;
        color: white;
        border-color: black;
    }

    .configOptionSelected {
        background-color: #114B5F;
        color: #fcca03;
        border-color: black;
    }
    
}

@media only screen and (max-height: 900px) {
    .dataConfigPopup {
        font-size: 12px;
    }
}

@media only screen and (max-height: 700px) {
    .dataConfigPopup {
        font-size: 10px;
    }
}