@import "./variables.scss";

.surveyContainer {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 50%;
    min-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 40px;

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .radioButton {
        margin-right: 10px;
    }

    .buttonRow {
        width: 100%;
        text-align: right;
        .backButton, .continueButton {
            margin: auto;
            margin-top: 20px;
            margin-left: 20px;
        }
    }

    .section {
        border-radius: 5px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        padding: 10px 20px;
        border: solid 5px $lightGray;
        background-color: $lightGray;
        margin-bottom: 20px;
        min-width: 80vh;

        .rankedScaleContainer {
            width: 100%;
            text-align: center;
        }

        textarea, input {
            resize: none;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            border-radius: 5px;
            padding: 5px;
            outline: none;
            border: solid 1px gray;
        }

        .inputAreaLarge {
            width: 100%;
            textarea { width: 80%; max-width: 700px; }
        }

        .inputAreaSmall {
            textarea, input {
                width: 100px;
            }
        }
        
    }

    .highlighted {
        border: solid 4px $gold;
        border-radius: 5px;
    }

    .radioButtonGroupHorizontal tbody tr .radioButton:nth-child(1) {
        width: 16%;
        border-right: 2px dashed black;
    }

    .mapConclusionImage {
        white-space: pre;
        height: 30vh;
        width: 55vh;
        margin: auto;
        display: block;
    }
}