.slider-container {
    margin: 10px 0;
}

.slider {
    position: relative;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.slider-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: green;
    z-index: 0;
    transform: translateY(-50%);
}

.slider-point {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    z-index: 1;
   
}

.slider-point.selected {
    background-color: orange;
}

.slider-label {
    position: absolute;
    top: 20px; /* Adjust this value as needed to space the label further down */
    white-space: nowrap;
    transform: translateX(20%);
    font-size: 11px;
    color: black;
    margin-left:10px;
    max-width: 40px; /* Adjust the width to fit the text properly */
    line-height: 1; /* Adjust line height for better spacing */
    word-wrap: break-word;
}
